@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_MyLayout";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@* @section headerSection{
    <h1>hello from view to header section</h1>
} *@


@section footerSection{
    <h1>hello from view to footer section</h1>
}


@* 
@section Scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
} *@