@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_MyLayout";
    //Layout = null;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@*@section Head{
    <h1>HEllo From View To Head section</h1>

}*@
@*@section HeadSection{
    <h1>HEllo From View To Head section</h1>
}*@

@section FooterSection{
    <h1>HEllo From View To Footer section</h1>

}
@*
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>

}*@